version: '3.4'
services:

  redis:
    image: redis:5.0
    ports:
      - "6379:6379"

  postgres:
    image: postgres:11.3
    volumes:
      - local_postgres_data:/var/lib/postgresql/data
      - local_postgres_data_backups:/backups
    env_file:
      - ./env/postgres.env
    ports:
      - '5432:5432'

  # psono-server:
  #   container_name: psono-server
  #   image: 916600710645.dkr.ecr.us-west-2.amazonaws.com/vault-passbolt-production-psono-server:latest
  #   sysctls:
  #     net.core.somaxconn: 65535
  #   restart: unless-stopped
  #   ports:
  #     - '10100:80'
  #   volumes: 
  #     - ./settings.yaml:/root/.psono_server/settings.yaml
  
  # psono-client:
  #   container_name: psono-client
  #   image: psono/psono-client:latest
  #   restart: unless-stopped
  #   ports:
  #     - '10101:80'
  #   volumes:
  #     - ./config.json:/usr/share/nginx/html/config.json

  # psono-admin-client:
  #   container_name: psono-admin-client
  #   image: psono/psono-admin-client:latest
  #   restart: unless-stopped
  #   ports:
  #     - '10102:80'
  #   volumes:
  #     - ./config.json:/usr/share/nginx/html/portal/config.json
        
  # psono-fileserver:
  #   container_name: psono-fileserver
  #   image: psono/psono-fileserver:latest
  #   restart: unless-stopped
  #   ports:
  #     - '10200:80'
  #   volumes:
  #     - ./settings.file.yaml:/root/.psono_fileserver/settings.yaml

volumes:
  local_postgres_data:
  local_postgres_data_backups:          
